// List Variable Font

// List Variable Color
$white: #ffffff;
$white-05: rgba(255, 255, 255, 0.5);
$rhino: #364658;
$royal-blue: #387ee9;
$link-water: #ced0d4;
$dodger-blue: #37a0f6;
$hawkes-blue: #dfe1e5;
$hawkes-blue-00: rgba(223, 225, 229, 0);
$hawkes-blue-07: rgba(198, 221, 255, 0.7);
$dodger-blue-04: rgba(55, 160, 246, 0.4);
$alice-blue: #f1f3f4;
$solitude: #ebf2fc;
$solitude-05: rgba(235, 242, 252, 0.5);
$solitude-07: rgba(235, 242, 252, 0.7);
$light-slate-grey: #7b8fa5;
$spindle: #a5bad0;
$grape: rgba(69, 65, 78, 0.08);
$shuttle-grey: #5f6368;
$baltic-sea-008: rgba(60, 64, 67, 0.08);
$baltic-sea-01: rgba(60, 64, 67, 0.1);
$baltic-sea-015: rgba(60, 64, 67, 0.15);
$black-ressian: rgba(32, 33, 36, 0.28);
$solitude--1: #f0f2f5;
$grey: #757575;
$whisper: #e6e6e6;
$melon: #ffbdad;
$harly-davidson-orange: #de350b;
$solitude--2: #e4e6eb;
$amaranth: #dc3545;
